<div class="flex w-full flex-auto flex-col">
    <div class="mx-auto flex w-full max-w-screen-xl flex-wrap p-6 md:p-8">
        <button
            mat-icon-button
            color="primary"
            (click)="backToMenu()"
            class="mb-2"
        >
            <mat-icon
                svgIcon="heroicons_outline:arrow-left-circle"
                class="icon-size-10"
            ></mat-icon>
        </button>
        <!-- Title and action buttons -->
        <div class="flex w-full items-center justify-between">
            <div>
                <div class="text-3xl font-semibold leading-8 tracking-tight">
                    {{ 'Schedule' | transloco }}
                </div>
                <!-- <div class="text-secondary font-medium tracking-tight">
                    Your weekly schedule
                </div> -->
            </div>
            <div class="ml-6 flex items-center"></div>
        </div>

        <div
            class="mt-8 grid w-full grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3"
        >
            <!-- Visitors overview -->
            <div
                class="flex flex-auto flex-col overflow-hidden sm:col-span-2 lg:col-span-3"
            >
                <div class="mx-auto w-full">
                    <div class="hidden w-full md:flex">
                        <table class="my-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        {{ 'Monday' | transloco }}
                                    </th>
                                    <th>
                                        {{ 'Tuesday' | transloco }}
                                    </th>
                                    <th>
                                        {{ 'Wednesday' | transloco }}
                                    </th>
                                    <th>
                                        {{ 'Thursday' | transloco }}
                                    </th>
                                    <th>
                                        {{ 'Friday' | transloco }}
                                    </th>
                                    <th>
                                        {{ 'Saturday' | transloco }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (
                                    item of schedule;
                                    track item.classNumber;
                                    let rowInd = $index
                                ) {
                                    @if (rowInd < maxShowClassNumber + 1) {
                                        <tr>
                                            <td class="p-4">
                                                {{ rowInd + 1 }}
                                            </td>
                                            @for (
                                                day of item.days;
                                                track colInd;
                                                let colInd = $index
                                            ) {
                                                <td class="h-[182px]">
                                                    <div
                                                        class="h-full min-w-[200px] border border-transparent p-4"
                                                        [ngClass]="{
                                                            'wrapper-subject-active':
                                                                colIndex ===
                                                                    colInd &&
                                                                rowIndex ===
                                                                    rowInd,
                                                            'cursor-pointer':
                                                                !readonly,
                                                            'wrapper-subject':
                                                                !readonly,
                                                        }"
                                                    >
                                                        @if (
                                                            day.subjects
                                                                .length > 0
                                                        ) {
                                                            <div
                                                                class="flex h-full flex-col gap-2"
                                                            >
                                                                @for (
                                                                    subject of day.subjects;
                                                                    track i;
                                                                    let i = $index
                                                                ) {
                                                                    <div
                                                                        class="subject relative flex h-full flex-col rounded-md border p-3 text-left"
                                                                    >
                                                                        <div>
                                                                            <p
                                                                                class="text-lg font-semibold"
                                                                            >
                                                                                {{
                                                                                    subject
                                                                                        .subject
                                                                                        .name
                                                                                        | translateJson
                                                                                        | async
                                                                                }}
                                                                            </p>
                                                                        </div>

                                                                        <div
                                                                            class="flex flex-col"
                                                                        >
                                                                            <span
                                                                                class="text-[#454545]"
                                                                                >{{
                                                                                    subject.teacher
                                                                                        | appFullName
                                                                                            : true
                                                                                }}</span
                                                                            >
                                                                            <span
                                                                                class="text-sm"
                                                                            >
                                                                                {{
                                                                                    subject.start_time
                                                                                }}
                                                                                -
                                                                                {{
                                                                                    subject.end_time
                                                                                }}
                                                                            </span>
                                                                        </div>

                                                                        <div
                                                                            class="absolute bottom-2 right-2"
                                                                        >
                                                                            <div
                                                                                class="rounded-3xl bg-[#BF9000] px-2 text-white"
                                                                            >
                                                                                R:
                                                                                {{
                                                                                    subject
                                                                                        .room
                                                                                        .name
                                                                                }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        }
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="w-full md:hidden">
                        <div class="mb-3 rounded-xl bg-white p-1">
                            <div class="relative flex h-[80%] w-full">
                                @for (item of WEEK_DAYSSHORT; track $index) {
                                    <button
                                        class="notActiveBtn relative z-10 max-h-[110px] min-h-[44px] w-full break-words rounded-[10px] px-2 font-bold"
                                        [ngClass]="{
                                            'bg-primary-600 text-white':
                                                activeDay == $index,
                                        }"
                                        (click)="activeDay = $index"
                                    >
                                        {{ item.label | transloco }}
                                    </button>
                                }
                            </div>
                        </div>
                        <div class="flex w-full flex-col gap-3">
                            @for (item of schedule; track $index) {
                                <div
                                    class="flex min-h-[70px] w-full items-center gap-3 rounded-lg bg-white px-3 py-2 font-semibold shadow-lg"
                                >
                                    <div
                                        class="flex h-full min-h-[70px] min-w-[50px] items-center justify-center border-r border-r-gray-400 text-accent-800 opacity-50"
                                    >
                                        <p class="">{{ $index + 1 }}</p>
                                    </div>
                                    <div class="w-full">
                                        @for (
                                            subject of item.days[activeDay]
                                                .subjects;
                                            track $index;
                                            let count = $count
                                        ) {
                                            <div
                                                class="flex w-full items-center justify-between"
                                            >
                                                <div>
                                                    <p
                                                        class="mb-1 text-primary-600"
                                                    >
                                                        {{
                                                            subject.subject.name
                                                                | translateJson
                                                                | async
                                                        }}
                                                    </p>
                                                    <p class="text-gray-600">
                                                        {{
                                                            subject.teacher
                                                                | appFullName
                                                                    : true
                                                        }}
                                                    </p>
                                                </div>
                                                <p class="text-gray-400">
                                                    {{ subject.room.name }}
                                                </p>
                                            </div>

                                            @if ($index !== count - 1) {
                                                <div
                                                    class="my-2 h-[1px] w-full bg-gray-400"
                                                ></div>
                                            }
                                        } @empty {
                                            <p class="text-red-600">
                                                {{ 'No lesson' | transloco }}
                                            </p>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
