<div class="mx-auto w-full max-w-[1280px] p-4">
    <div class="hidden w-full md:flex">
        <table class="table-bordered table h-full w-full text-center">
            <thead>
                <tr>
                    <th>{{ 'Time' | transloco }}</th>
                    <th>
                        {{ 'Monday' | transloco }}
                    </th>
                    <th>
                        {{ 'Tuesday' | transloco }}
                    </th>
                    <th>
                        {{ 'Wednesday' | transloco }}
                    </th>
                    <th>
                        {{ 'Thursday' | transloco }}
                    </th>
                    <th>
                        {{ 'Friday' | transloco }}
                    </th>
                    <th>
                        {{ 'Saturday' | transloco }}
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (
                    item of schedule;
                    track item.classNumber;
                    let rowInd = $index
                ) {
                    @if (rowInd < maxShowClassNumber + 1) {
                        <tr>
                            <td class="font-medium">{{ TIME[rowInd] }}</td>
                            @for (
                                day of item.days;
                                track colInd;
                                let colInd = $index
                            ) {
                                <td class="bg-white">
                                    @if (day.subjects.length > 0) {
                                        @for (
                                            subject of day.subjects;
                                            track i;
                                            let i = $index
                                        ) {
                                            <div
                                                class="flex h-full flex-col items-center gap-2"
                                            >
                                                <span
                                                    class="rounded-lg bg-primary-50 p-3 font-medium"
                                                >
                                                    {{
                                                        subject.subject.name
                                                            | translateJson
                                                            | async
                                                    }}

                                                    {{ subject.room.name }}
                                                </span>
                                                <div
                                                    class="text-gray-60 0 text-[16px] font-medium"
                                                >
                                                    {{
                                                        subject.teacher
                                                            | appFullName: true
                                                    }}
                                                </div>
                                            </div>
                                        }
                                    }
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="w-full md:hidden">
        <div class="mb-3 rounded-xl bg-white p-1">
            <div class="relative flex h-[80%] w-full">
                @for (item of WEEK_DAYSSHORT; track $index) {
                    <button
                        class="notActiveBtn relative z-10 max-h-[110px] min-h-[44px] w-full break-words rounded-[10px] bg-transparent px-2 font-bold"
                        [ngClass]="{
                            'bg-green-600 text-white': activeTab == $index,
                        }"
                        (click)="activeTab = $index; activeDay = $index"
                    >
                        {{ item.label | transloco }}
                    </button>
                }
            </div>
        </div>
        <div class="flex w-full flex-col gap-3">
            @for (item of schedule; track $index) {
                <div
                    class="flex h-[70px] w-full items-center gap-3 rounded-lg bg-white px-3 py-2 font-semibold shadow-lg"
                >
                    <p class="w-[50px] text-green-800">{{ TIME[$index] }}</p>
                    <div class="h-full w-[1px] bg-gray-400 opacity-50"></div>
                    @for (
                        subject of item.days[activeDay].subjects;
                        track $index
                    ) {
                        <div class="flex items-center justify-between w-full">
                            <div>
                                <p class="mb-1 text-green-600">
                                    {{
                                        subject.subject.name
                                            | translateJson
                                            | async
                                    }}
                                </p>
                                <p class="text-gray-600">
                                    <span>{{ 'Teacher' | transloco }}:</span
                                    >{{ subject.teacher | appFullName: true }}
                                </p>
                            </div>
                            <p class="text-gray-400">{{ subject.room.name }}</p>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
