:host {
    display: block;

    table {
      width: 100%;

      tr {
        td {
          border-bottom: 1px solid #e0e0e0;
          padding: 15px 0;
        }

        td:first-child {
          width: 30%;
          font-weight: bold;
          color: #6b7280;
        }
      }
    }
  }
