<!-- ITSTUDYSTATE WEBSITE  START -->
<div class="relative flex h-screen w-full bg-[#f2f6fa]">
    <div
        class="mx-auto box-border flex w-full max-w-7xl items-center justify-between text-[16px] text-[#000000]"
        [formGroup]="signInForm"
    >
        <div class="img_wrapper relative flex h-full w-full items-center">
            <img
                src="/svg/sign.svg"
                alt="computer"
                class="h-[550px] w-[550px]"
            />
        </div>
        <div class="loginDiv flex min-w-[500px] flex-col gap-4 p-8">
            <p class="text-center text-[18px] font-bold">
                {{ 'Login' | transloco }}
            </p>
            @if (showAlert) {
                <fuse-alert
                    class="mt-8"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="alert.type === 'error'"
                >
                    {{ alert.message }}
                </fuse-alert>
            }

            <!-- Sign in form -->
            <div
                class="mt-8 flex flex-col gap-2"
                [formGroup]="signInForm"
                #signInNgForm="ngForm"
            >
                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email address</mat-label>
                    <input id="email" matInput [formControlName]="'email'" />
                    @if (signInForm.get('email').hasError('required')) {
                        <mat-error> Email address is required </mat-error>
                    }
                    @if (signInForm.get('email').hasError('email')) {
                        <mat-error>
                            Please enter a valid email address
                        </mat-error>
                    }
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input
                        id="password"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField
                    />
                    <button
                        mat-icon-button
                        type="button"
                        (click)="
                            passwordField.type === 'password'
                                ? (passwordField.type = 'text')
                                : (passwordField.type = 'password')
                        "
                        matSuffix
                    >
                        @if (passwordField.type === 'password') {
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:eye'"
                            ></mat-icon>
                        }
                        @if (passwordField.type === 'text') {
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:eye-slash'"
                            ></mat-icon>
                        }
                    </button>
                    <mat-error> Password is required </mat-error>
                </mat-form-field>

                <!-- Actions -->
                <div
                    class="mt-1.5 inline-flex w-full items-center justify-between"
                >
                    <mat-checkbox
                        class="-ml-2"
                        [color]="'primary'"
                        [formControlName]="'rememberMe'"
                    >
                        Remember me
                    </mat-checkbox>
                    <a
                        class="text-md font-medium text-primary-500 hover:underline"
                        [routerLink]="['/forgot-password']"
                        >Forgot password?
                    </a>
                </div>
            </div>
            <!-- <button
                class=" disabled:bg-red-700 sm:text-[18px]"
                [disabled]="signInForm.invalid"
                (click)="signIn()"
            >
                Tizimga kirish
            </button> -->
            <button
                class="h-[45px]  rounded-[8px] bg-[#4BA857] text-[16px] font-bold text-white mt-6"
                mat-flat-button
                [color]="'primary'"
                [disabled]="signInForm.disabled"
                (click)="signIn()"
            >
                @if (!signInForm.disabled) {
                    <span> Sign in </span>
                }
                @if (signInForm.disabled) {
                    <mat-progress-spinner
                        [diameter]="24"
                        [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                }
            </button>
        </div>
    </div>
</div>
