<div class="w-full max-w-4xl">
    <p class="my-4 text-[22px] font-semibold">
        {{ 'Classes' | transloco }}
    </p>
    <!-- Section -->
    <div class="w-full">
        <div class="text-xl">
            Your registered classes for group
            @if (_profileService.profileInfo$ | async; as class) {
                <span class="mb-4 text-lg font-bold text-primary-800">
                    {{ class.currentGroup.groupName }}-
                    {{ class.currentGroup.classType | translateJson | async }}
                </span>
            }
        </div>
        <div class="text-secondary">
            If you want to add a new class, please contact the administrator.
        </div>
    </div>
    <div class="mt-8 grid w-full grid-cols-1 gap-6">
        @if (_profileService._classes | async; as classes) {
            @for (clas of classes; track $index) {
                <div
                    class="flex items-center justify-between rounded-lg bg-white py-4 shadow-md dark:bg-card"
                >
                    <div class="flex w-full flex-col">
                        <div class="flex flex-col px-6">
                            <div class="text-lg font-semibold">
                                {{
                                    clas.quarterly.name | translateJson | async
                                }}
                            </div>
                            <span class="text-secondary"
                                >Start: {{ clas.quarterly.start_date }}, End:
                                {{ clas.quarterly.end_date }}</span
                            >
                        </div>
                        <div class="mt-3 border-t"></div>
                        <div>
                            <div
                                class="text-secondary sticky top-0 z-10 grid grid-cols-2 gap-2 bg-gray-50 px-4 py-3 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                            >
                                <div class="ml-2 min-w-0">
                                    <div class="text-secondary">Subject</div>
                                </div>
                                <div>Teacher</div>
                                <!--<div>
                                    <div class="flex items-center justify-end">
                                        <div class="text-secondary">Grade</div>
                                    </div>
                                </div>-->
                            </div>
                            @if (clas.classes.length > 0) {
                                @for (subject of clas.classes; track $index) {
                                    <div
                                        class="z-20 grid cursor-pointer grid-cols-2 gap-2 border-b px-3 py-4 md:px-8"
                                    >
                                        <div class="ml-4 min-w-0">
                                            <div>
                                                {{
                                                    subject.subject.name
                                                        | translateJson
                                                        | async
                                                }}
                                            </div>
                                        </div>
                                        <div></div>
                                        <!--<div>
                                            &lt;!&ndash; Grade column &ndash;&gt;
                                            <div class="flex items-center justify-end">
                                                <div class="text-green-800 font-semibold text-lg">{{ subject.subjectGrade?.grade}}</div>
                                            </div>
                                        </div>-->
                                    </div>
                                }
                            } @else {
                                <div class="text-secondary px-6 py-3 md:px-8">
                                    No subjects registered
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    <!-- Divider -->
</div>
