<!-- Button -->
<button mat-icon-button [matMenuTriggerFor]="userActions">
    <span class="relative">
        @if (showAvatar && user?.avatar) {
            <img class="h-7 w-7 rounded-full" [src]="user?.avatar" />
        }
        @if (!showAvatar || !user?.avatar) {
            <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        }
        <span
            class="absolute bottom-0 right-0 h-2 w-2 rounded-full"
            [ngClass]="{
                'mb-px mr-px': !showAvatar || !user?.avatar,
                'bg-green-500': user?.status === 'online',
                'bg-amber-500': user?.status === 'away',
                'bg-red-500': user?.status === 'busy',
                'bg-gray-400': user?.status === 'not-visible',
            }"
        ></span>
    </span>
</button>

<mat-menu [xPosition]="'before'" #userActions="matMenu">
    <button mat-menu-item>
        <span class="flex flex-col leading-none">
            <span>{{ 'Signed in as' | transloco }}</span>
            <span class="mt-1.5 text-md font-medium">{{ user?.email }}</span>
            <span
                class="mt-1.5 text-md font-semibold capitalize text-green-800"
                >{{ user?.roles[0]?.name }}</span
            >
        </span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    @if (children) {
        <button mat-menu-item (click)="gotoGuardianProfile()">
            <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
            <span>{{ 'Profile' | transloco }}</span>
        </button>
    }
    <!-- <button mat-menu-item>
        <mat-icon [svgIcon]="'heroicons_outline:cog-8-tooth'"></mat-icon>
        <span>Settings</span>
    </button> -->
    @if (children) {
        <button mat-menu-item [matMenuTriggerFor]="userStatus">
            <mat-icon
                [svgIcon]="'heroicons_outline:ellipsis-horizontal-circle'"
            ></mat-icon>
            <span>{{ 'My children' | transloco }}</span>
        </button>
        <mat-divider class="my-2"></mat-divider>
    }
    <button mat-menu-item routerLink="reset-password">
        <mat-icon
            [svgIcon]="'heroicons_outline:arrow-path-rounded-square'"
        ></mat-icon>
        <span>{{ 'Change password' | transloco }}</span>
    </button>
    <button mat-menu-item (click)="signOut()">
        <mat-icon
            [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'"
        ></mat-icon>
        <span>{{ 'Sign out' | transloco }}</span>
    </button>
</mat-menu>

<mat-menu class="user-status-menu" #userStatus="matMenu">
    @for (item of children; track $index) {
        <button mat-menu-item (click)="changeUser(item)">
            <span
                class="mr-3 inline-flex min-h-4 min-w-4 rounded-full"
                [ngClass]="
                    item.id == _userService.chooseStudentId()
                        ? 'bg-green-500'
                        : ''
                "
            >
            </span>

            <span>{{ item | appFullName }}</span>
        </button>
    }
</mat-menu>
